@import "tailwindcss";

@theme {
  --color-gray-800: #222;
  --color-gray-600: #555;
}

canvas.game-canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  touch-action: none;
  border: 2px solid #555;
}